.red {
  fill: #D50000;
}

.orange {
  fill: #FF6D00;
}

.yellow {
  fill: #FFD600;
}

.green {
  fill: #00C853;
}

.blue {
  fill: #2962FF;
}

.black {
  fill: #263238;
}

.white {
  fill: #78909C;
}

.empty {
  fill: #ECEFF1
}
