@import 'colors';
@import 'guessHistory';
@import 'guessInput';
@import 'progress';
@import 'outcome';
@import 'highScores';
@import 'instructions';
@import 'title';


body {
  font-family: 'Mukta Mahee', sans-serif;
  background-color: #fafafa;
}

.row {
  display: flex;
  justify-content: center;
}

h2 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0px 0px 15px 0px;
}
