@import 'colors';
@import 'guessHistory';
@import 'guessInput';


body {
  font-family: 'Mukta Mahee', sans-serif;
  background-color: #fafafa;
}

.row {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
